:root {
    --main-bg: #f1f1f1;
    --primary-bg: #333;
    --secondary-bg: #444;
    --secondary-light-bg: #555;
    --tertiary-bg: #3275d1;
    --tertiary-light-bg: #4a90e2;
    --main-text: #333;
    --primary-text: #00000;
    --secondary-text: #ddd;
    --tertiary-text: #3275d1;
    --main-border: #ccc;
}