.card_small{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-bg);
    color: var(--secondary-text);
    padding: 10px;
    margin: 10px;
    width: 150px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.card_small div {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_small img{
    width: 100%;
    height: auto;
    border-radius: 5px;
}
.card_small span{
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    padding: 5px 0 5px 0;
    border-radius: 0 0 5px 5px;
    background-color: var(--tertiary-bg);
    transition: background-color 0.3s;
}

.card_small:hover{
    background-color: var(--secondary-light-bg);
}

.card_small:hover span{
    background-color: var(--tertiary-light-bg);
}